body{
  color:#40514E;
  margin:0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

.title{
  font-weight:normal;
  font-size:1.5rem;
}

.top-container{
  background-color: #ffecc7;
  padding-top: 100px;
  position:relative;
}
.user{
  width:200px;
  height:200px;
  border-radius: 50%;

}
.socialize{
  width:150px;
  height:150px;
  float:right;
  margin-left:30px;
  /**position: absolute;
  right:600px;**/

}
.contact{
  width:150px;
  height:150px;

}
.comp{
  width:150px;
  height:150px;
  border-radius: 50%;
  float:left;
  margin-right:30px;
}

h1{
  color:#f2a365;
  font-size:562.5%;

  font-family: 'Sacramento', cursive;
  margin:50px auto 0 auto;
}
h2{
  color:#f2a365;
  font-size: 2.5rem;
  font-family: 'Montserrat', sans-serif;
  padding-bottom: 10px;
}
h3{
  color:#f5b971;
  font-family: 'Montserrat', sans-serif;
}
.bottom-cloud{
  position: absolute;
  left:300px;
  bottom:300px;
}
.top-cloud{
  position: absolute;
  right:300px;
  top:50px;
}
.bottom-container a{
  text-decoration: none;
  color:#cf7500;
  margin:20px;
  font-family: 'Montserrat', sans-serif;
}
.bottom-container a:hover{
  color:#ff5733;
}
.intro{
  width:30%;
  margin:0 auto;

}
.skill-row{
  width:50%;
  margin:100px auto 100px auto;
  text-align:left;
  line-height:2;
}
.middle-container{
  padding:100px 0;
}
.bottom-container{
  background-color: #f5b971;
  height:100px;
  padding:20px 0 20px 0;
}
hr{
  border-color:grey;
  border-width:10px;
  border-style:dotted none none none;
  width:5%;
  margin:100px auto;

}
p{
  line-height:2;
}
.contact-message{
  width:30%;
  margin: 30px auto 40px auto;
}
.details{
  width:50%;
  margin:0 auto;
}
.social{
  margin:0 0 30px 190px;
}
.copyright{
  color:white;
  font-size: 0.75rem;
  padding:20px 0;
}
.btn{
  background-color: #f5b971;
  border-radius: 20px;
  text-decoration: none;
  color:white;
  padding:20px;
}
.btn:hover{
  background-color:#f2a365 ;
}
